
  <div>
 
      <table >
        <tr>
          <th>Article</th>
          <th>Category</th>          
        </tr>
        <tr  *ngFor = "let article of articles$ | async; let i= index">
          <td>{{article.text}}</td>
          <td >{{article.category}}</td>
   
      </table>