<p>welcome!</p>
<button mat-raised-button
  color = "primary"
    (click) = "show()"
    >
    See info
  </button>
  <p>{{text}} {{category}}</p>

  <button mat-raised-button
  color = "primary"
    (click) = "add()"
    >
    save
  </button>

  
  <mat-form-field appearance="fill">
    <mat-label >{{category}}</mat-label >
    <mat-select [(ngModel)] = "category" name = "category">
      <mat-option *ngFor="let option of options" [value]="option"   >
        {{option}}
      </mat-option>
    </mat-select>
  </mat-form-field>